/* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #403c3c;
}

header {
    background-color: #660d0d;
    color: rgb(161, 33, 33);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(142, 102, 102);
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #8d2d2d;
}

form {
    margin: 20px 0;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
    color: rgb(147, 110, 110);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f76e41;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #64235f;
}
